{% extends 'base.html' %}
{% block content %}
<html>
<head>
<style>
img {
  max-width: 50%;
  height: auto;
}
</style>
</head>
<body>

<h2>Army Institue of Technology</h2>

<ul>
    <li><p>Residential 30 acres wifi Campus</p></li>
    <li><p>24x7 Internet based Learning Platforms and Excellent faculty</p></li>
    <li><p>Networked and AC labs</p></li>
</ul>

<img src="https://media.glassdoor.com/l/31/50/59/e3/acad-blk.jpg" alt="Cinque Terre" width="1000" height="50">

</body>
</html>

{% endblock %}